<!--/* Thymeleaf templating engine, Each token will be replaced by their respective titles in the resulting page. */-->
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
    <title>Picture</title>

    
</head>
<body>
<div layout:fragment="breadcrumb">
    <h1>FORMULAIRE</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">FORMULAIRE</li>
    </ol>
</div>
<div layout:fragment="content">
    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">&nbsp;</h3>
                </div>
                <form role="form" th:object="${picture}" method="post">
                <div class="form-group ">
								<label for="kode">Choisir le PI</label> <select
									class="selectpicker form-control" data-live-search="true"
									data-size="10" title="Selectionnez ..." th:field="*{pointinteret}"
									required>
									<option th:each="p : ${pointinteret}" th:value="${p.id}"
										th:text="${p.nomPI}">nature PI</option>
								</select>
								</div>
                    <div class="box-body">
         
				
                        
                        <div class="form-group">
                            <label for="libelle">Entrer la photo</label>
                            <input type="text" class="form-control" th:field="*{libelle}" id="libelle"  />
                       
                           
           
                        
                        </div>
                        

							<!-- FORMULAIRE DMS  -->		

                        <div class="form-group">
                            <a th:href="@{/picture/list}" class="btn btn-default" role="button" title="Back list">
                                <span aria-hidden="true"></span>Annuler
                            </a>
                            <button class="box-title btn btn-primary" title="Save Data">Confirmer</button>
                        </div>
                    </div>


                </form>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>