<!--/* Thymeleaf templating engine, Each token will be replaced by their respective titles in the resulting page. */-->
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">
<head>
	<meta charset="UTF-8">
    <title>supprimer un sous secteur</title>
</head>
<body>
<div layout:fragment="breadcrumb">
    <h1>Supprimer</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">supprimer sous secteur</li>
    </ol>
</div>
<div layout:fragment="content">
    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">&nbsp;</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form" th:object="${soussecteur}" method="post">

                    <div class="box-body">

                        <div class="form-group">
                            <label for="libelle">libelle</label>
                            <input type="text"
                                   th:field="*{libelle}"
                                   name="libelle" class="form-control" id="libelle" placeholder="sous-secteur" disabled/>
                        </div>

                        <div class="form-group">
                            <a th:href="@{/soussecteur/list}" class="btn btn-default" role="button" title="Back list">
                                <span aria-hidden="true"></span>Annuler
                            </a>
                            <button type="submit" class="btn btn-danger" title="Delete Data">Effacer</button>
                        </div>
                    </div>
                    <!-- /.box-body -->

                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>